@{
    ViewBag.Title = "Confirm Email";
    Layout = "~/Views/Shared/_Layout_not_logged.cshtml";
}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <h2 id="title">@ViewBag.Title.</h2>
    <div>
        <p>
            Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</main>
