@{
    ViewBag.Title = "Administrace";
}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
</main>